<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon aria-hidden="true" name="compass-outline"></ion-icon>
      <ion-label>สำรวจ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings" href="/tabs/bookings">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>การจอง</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved" href="/tabs/saved">
      <ion-icon aria-hidden="true" name="bookmark-outline"></ion-icon>
      <ion-label>บันทึกแล้ว</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recent" href="/tabs/recent">
      <ion-icon aria-hidden="true" name="time-outline"></ion-icon>
      <ion-label>ล่าสุด</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>โปรไฟล์</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>